<div id="battleScreen">
    <span id="opponentSpan">    
        <img id="opponentSprite" style="float: right" src="/home/jason/data/repos/revature/project2/PokePipeline-front/src/favicon.ico">
        <progress id="opponentHealth" style="float:right" value="100" max="100"></progress>
    </span>
    <br>
    <br>
    <span id="opponentSpan">    
        <img id="trainerSprite" src="/home/jason/data/repos/revature/project2/PokePipeline-front/src/favicon.ico">
        <progress id="trainerHealth" value="100" max="100"></progress>            
    </span>
    <br>
    <br>
    <table id="moveTable" style="margin: auto;">
        <tr>
            <td><button id="move1">Move 1</button></td>
            <td><button id="move2">Move 2</button></td>
        </tr>
        <tr>
            <td><button id="move3">Move 3</button></td>
            <td><button id="move4">Move 4</button></td>
        </tr>
    </table>
</div>