.register-underlay {
  background-image: url("src/assets/Images/Backgrounds/sqrtl.png");
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.register-container {
  height: 100vh;
}

.register-card {
  background-image: url("src/assets/Images/Backgrounds/bluestripe.png");
}
