
.name, .move { padding-left: 3vh; }
#trainerSprite { left: 10vh; }
#opponentSprite { right: 10vh; }
#trainerNamePlate { margin-top:5vh; right: 2vh; }
#opponentNamePlate { left: 2vh; }
#opponentSprite, #trainerNamePlate { float: right; }
#opponentNamePlate, #trainerSprite { float: left; }

.namePlate {
  position: relative;
  width: 60vh;
  height: 20vh;
}

.spriteLocation {
  position: relative;
  width: 28vh;
  height: 28vh;
  margin: 0;
  padding: 0;
}

.spriteLocation img {
  width: 100%;
  height: 100%;
}

.botTable { 
  background:rgba(240, 240, 240);
  border-collapse:separate;
  top: 50%; 
  transform: translate(0,-50%); 
  position: relative; 
  border: 5px double black;
  border-radius: 10px;
}

.botTable td {  vertical-align: middle; text-align: center;  }
.moveTable { width: 70%; float: left; margin-left: 1vh; cursor: pointer; }
.moveTable tr { height: 8vh; }
.moveTable td:hover { border-radius: 5px; }
.infoTable { 
  height: 19vh;
  width: 28%; 
  float: right; 
  margin-right: 1vh; 
  font-size: 20px;
}

#row1 { position: relative; top: 1vh; }
#row3 {
  background:rgb(90, 90, 90);
  position: relative;
  float:none;
  left: 50%;
  transform: translate(-50%, 0);
  width: 98%;
  height: 25%;
  bottom: 0;
}

table { table-layout: fixed; }
.centerText { text-align: center; }

.fill {
  margin: 0;
  background:rgba(240, 240, 240, 0.75);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
}

#row1:after, #row2:after {
  content: "";
  display: table;
  clear: both;
}