<div class="container">
  <table class="table table-sm table-bordered table-dark">
    <tr id="row1">
      <td class="colspan-3 rowspan-2">
        <!-- opponent nameplate component -->
      </td>
    </tr>
    <tr id="row2">
      <td></td>
      <td class="rowspan-2 colspan-2">
        <!-- opponent sprite -->
      </td>
    </tr>
    <tr id="row3"></tr>
    <tr id="row4">
      <td></td>
      <td class="rowspan-2 colspan-2">
        <!-- trainer sprite -->
      </td>
    </tr>
    <tr id="row5">
      <td></td>
      <td></td>
      <td class="colspan-3 rowspan-2">
        <!-- trainer nameplate component -->
      </td>
    </tr>
    <tr id="row6"></tr>
    <tr id="row7">
      <td class="colspan-2">
        <!-- move 1 -->
      </td>
      <td class="colspan-2">
        <!-- move 2 -->
      </td>
      <td>Class</td>
      <td>
        <!-- damage class -->
      </td>
    </tr>
    <tr id="row8">
      <td class="colspan-2">
        <!-- move 3 -->
      </td>
      <td class="colspan-2">
        <!-- move 4 -->
      </td>
      <td>Type</td>
      <td>
        <!-- move type -->
      </td>
    </tr>
  </table>
</div>
