<div class="fill">
  <div id="row1">
    <div id="opponentNamePlate" class="namePlate">
      <table class="namePlateTable">
        <tr>
          <td class="name" colspan="2">{{opponent.name | uppercase}}</td>
          <td class="centerText">Lv: {{opponent.getLevel()}}</td>
        </tr>
        <tr>
          <td class="centerText">HP</td>
          <td colspan="2">[==================]</td> <!--hp progress bar?-->
        </tr>
      </table>
    </div>
    <div id="opponentSprite" class="spriteLocation"><img src="{{opponent.sprites.front_default}}"></div>
  </div>

  <div id="row2">
    <div id="trainerSprite" class="spriteLocation"><img src="{{trainer.sprites.back_default}}"></div>
    <div id="trainerNamePlate" class="namePlate">
      <table class="namePlateTable">
        <tr>
          <td class="name" colspan="2">{{trainer.name | uppercase}}</td>
          <td class="centerText">Lv: {{trainer.getLevel()}}</td>
        </tr>
        <tr>
          <td class="centerText">HP</td>
          <td colspan="2">[==================]</td> <!--hp progress bar?-->
        </tr>
      </table>
    </div>
  </div>

  <div id="row3">
    <table class="moveTable botTable">
      <tr>
        <td 
        (mouseover)="displayMoveInfo(0)" 
        (mouseout)="undoInfo(0)" id="move0" 
        class="move">{{trainer.moves[0].name | uppercase}}</td>
        <td 
        (mouseover)="displayMoveInfo(1)" 
        (mouseout)="undoInfo(1)" id="move1" 
        class="move">{{trainer.moves[1].name | uppercase}}</td>
      </tr>
      <tr>
        <td 
        (mouseover)="displayMoveInfo(2)" 
        (mouseout)="undoInfo(2)" id="move2" 
        class="move">{{trainer.moves[2].name | uppercase}}</td>
        <td 
        (mouseover)="displayMoveInfo(3)" 
        (mouseout)="undoInfo(3)" id="move3" 
        class="move">{{trainer.moves[3].name | uppercase}}</td>
      </tr>
    </table>
    <table class="infoTable botTable">
      <tr>
        <td class="notMove">{{powerText}}</td>
        <td id="damageClass">{{power}}</td>
      </tr>
      <tr>
        <td>{{classText}}</td>
        <td id="damageType">{{damageClass | uppercase}}</td>
      </tr>
      <tr>
        <td>{{typeText}}</td>
        <td id="damageType">{{damageType | uppercase}}</td>
      </tr>
    </table>
  </div>
</div>
