.banner-strip {
  background: rgb(91, 0, 72);
  background: linear-gradient(
    90deg,
    rgba(91, 0, 72, 1) 0%,
    rgba(144, 0, 149, 1) 100%
  );

  background-image: url("../../../../../assets/Images/Backgrounds/pokeatlas.jpeg");

  border-top: 1px solid #ffd500;
  border-bottom: 1px solid #ffd500;
  height: 80px;
}
