<log-reg-navbar></log-reg-navbar>
<section class="overlay login-overlay-map"></section>

<section class="container login-container">
  <div class="row h-100 align-items-center justify-content-center h-100">
    <section
      class="col-lg-3 col-md-5 col-sm-6 col-xs-6 mx-3 bg-white login-card text-center"
    >
      <img
        src="../../../../../assets/Images/Decorators/pokeball.png"
        alt="Pokemon!"
        class="img-fluid"
      />

      <div class="form-group">
        <label for="trainer-log-in" class="text-purple font-weight-bold">
          <h3>Trainer</h3></label
        >
        <input
          class="form-control form-control-md"
          type="text"
          placeholder="trainer"
        />
        <span class="text-secondary">Enter your trainer id to log in.</span>
      </div>
      <div class="form-group">
        <label for="password-log-in" class="text-purple">
          <h3>Poke-Pass</h3></label
        >
        <input
          class="form-control form-control-md"
          type="text"
          placeholder="trainer"
        />
        <span class="text-secondary"
          >Enter your trainer Poke-Pass to log in.</span
        >
      </div>

      <div class="form-group">
        <input type="button" class="btn btn-md btn-warning" value="log-in" />
      </div>
    </section>
  </div>
</section>
