.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
}

.login-overlay-map {
  background-image: url("./../../../../../assets/Images/Backgrounds/pokemap.jpeg");
  z-index: -2;
  background-size: cover;
  animation-name: moving-bg;
  animation-direction: normal;
  animation-duration: 20s;
}

.login-overlay-abstract-pattern {
  z-index: -1;
}

@keyframes cloud {
  from {
    top: 1000;
  }
  to {
    top: -1000;
  }
}

.login-container {
  height: 100vh;
}

.login-card {
  border: 10px solid yellow;
}
