<log-reg-navbar></log-reg-navbar>

<section class="container login-container navbar-margin-top">
  <div class="row h-100 align-items-center justify-content-center h-100">
    <section
      class="col-lg-3 col-md-5 col-sm-6 col-xs-6 mx-3 bg-white login-card text-center"
    >
      <img
        src="../../../../../assets/Images/Decorators/pokelogo.png"
        alt="Pokemon!"
        class="img-fluid"
      />

      <div>
        <h4 class="text-success">Register For An Account</h4>
        <p class="form-text">
          To use Pokepipeline, reigster for a trainer account for first!
        </p>
        <p class="text-secondary">
          It's fast and <span class="text-success">free</span>!
        </p>
      </div>
      <div class="form-group">
        <label for="trainer-log-in" class="text-danger font-weight-bold">
          <h3>Trainer</h3></label
        >
        <input
          class="form-control form-control-md"
          type="text"
          placeholder="trainer"
        />
        <span class="text-secondary">Enter your trainer username</span>
      </div>
      <div class="form-group">
        <label for="password-log-in" class="text-danger">
          <h3>Poke-Pass</h3></label
        >
        <input
          class="form-control form-control-md"
          type="text"
          placeholder="trainer"
        />
        <span class="text-secondary">Enter your trainer Poke-Pass </span>
      </div>

      <div class="form-group">
        <input
          type="button"
          class="btn btn-md btn-outline-primary"
          value="sign-up"
        />
      </div>
    </section>
  </div>
</section>
