<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="login">LOGIN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="register"
        >REGISTER</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="test">TEST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="account"
        >ACCOUNT</a
      >
    </li>
    <li>
      <input
        type="button"
        class="btn btn-warning"
        value="log out"
        (click)="logout()"
      />
    </li>
  </ul>
</nav>
