<div class="container" id="main">
  <div id="welcome">
    <span>Welcome, Trainer!</span>
    <input
      (click)="this.logOutOfTrainerHub()"
      type="button"
      class="ml-2 btn btn-info"
      value="logout"
    />
  </div>

  <div id="battleButton" class="type-1 centerBlock">
    <div>
      <a
        (click)="unHidePartyButton()"
        routerLinkActive="active"
        [routerLink]="[{ outlets: { main: ['battle'] } }]"
        class="btn btn-3 animation"
      >
        <span class="txt">Start Battle</span>
        <span class="round"><i class="icon-bolt"></i></span>
      </a>
    </div>
  </div>

  <div
    *ngIf="!isHidden"
    id="partyButton"
    class="type-1 centerBlock btn-custom-height"
  >
    <div>
      <a
        (click)="hidePartyButton()"
        routerLinkActive="active"
        [routerLink]="[{ outlets: { main: ['party'] } }]"
        class="btn btn-3 nav-link animation"
      >
        <span class="txt">Choose Pokemon</span>
        <span class="round"><i class="icon-group"></i></span>
      </a>
    </div>
  </div>

  <div id="settingsButton" class="type-1 centerBlock">
    <div>
      <a
        routerLinkActive="active"
        [routerLink]="[{ outlets: { main: ['account'] } }]"
        class="btn btn-3 nav-link animation"
        class="btn btn-3 animation"
      >
        <span class="txt">Account</span>
        <span class="round"><i class="icon-gear"></i></span>
      </a>
    </div>
  </div>
</div>
