<div class="container" id="main">

  <div id="settingsButton" class="type-1 centerBlock">
    <div>
      <a href="" class="btn btn-3">
        <span class="txt">User Settings</span>
        <span class="round"><i class="icon-gear"></i></span>
      </a>
    </div>
  </div>

  <div id="battleButton2" class="type-1 centerBlock">
    <div>
      <a href="" class="btn btn-3">
        <span class="txt">Start Battle</span>
        <span class="round"><i class="icon-bolt"></i></span>
      </a>
    </div>
  </div>

  <div id="battleButton3" class="type-1 centerBlock">
    <div>
      <a href="" class="btn btn-3">
        <span class="txt">Start Battle</span>
        <span class="round"><i class="icon-gamepad"></i></span>
      </a>
    </div>
  </div>

  <div id="partyButton" class="type-1 centerBlock">
    <div>
      <a href="" class="btn btn-3">
        <span class="txt">Choose Pokemon</span>
        <span class="round"><i class="icon-group"></i></span>
      </a>
    </div>
  </div>

</div>