<div
  class="jumbotron vertical-center text-center shadow fill h-100 user-container container-fluid win-component"
>
  <section class="col-12">
    <div class="border w-50 win-card shadow d-flex flex-row">
      <div class="d-flex flex-column justify-content-center px-1">
        <h3 class=" textColor">Victory</h3>
        <span class="textColor">You won the battle</span>
      </div>
      <img
        src="../../../../../assets/Images/Decorators/pikachu.png"
        class="img-fluid"
      />
    </div>
  </section>
</div>
