
<div class="container">
  <div class="row no-gutters" id="trainerHub">

    <div id="mainScreen" class="col-lg-9">
      <router-outlet name="main"></router-outlet>
      <!-- <app-battle-screen *ngIf="battleButtonPressed"></app-battle-screen> -->
      <!-- <app-party-screen *ngIf="partyButtonPressed"></app-party-screen> -->
    </div>
    <div id="sideScreen" class="col-lg-3">
      <div id="optionScreen" >
        <app-option-screen></app-option-screen>
      </div>
      <div id="pokemonScreen" >
        <app-pokemon-screen></app-pokemon-screen>
      </div>
    </div>

  </div>
</div>

