<div class="table-responsive container-fluid fill">
  <table id="pokemonTable" class="table table-sm table-bordered table-dark fill">
    <tr>
      <td id="pokemonImage" rowspan="2" colspan="2">
        <span><fa-icon *ngIf="selectingStarter" [icon]="faSpinner" [spin]="true"></fa-icon></span>
        <img *ngIf="!selectingStarter" src="{{pokemon.sprites.other['official-artwork'].front_default}}">
      </td>
      <td id="pokemonName" colspan="2">{{pokemon.name | titlecase}}</td>
    </tr>
    <tr>
      <td id="pokemonType" colspan="2">{{pokemon.types[0].type.name |titlecase}}<span *ngIf="pokemon.types.length > 1"> /
        {{pokemon.types[1].type.name | titlecase}}</span></td>
    </tr>
    <tr id="borderBelow">
      <td>Health</td>
      <td id="pokemonCurrentHealth">14/25</td>
      <td>Level</td>
      <td id="pokemonLevel">10</td> 
    </tr>
    <tr>
      <td>HP</td>
      <td id="pokemonHP">{{pokemon.stats[0].base_stat}}</td>
      <td>SPE</td>
      <td id="pokemonSPE">{{pokemon.stats[5].base_stat}}</td>
    </tr>
    <tr>
      <td>ATK</td>
      <td id="pokemonATK">{{pokemon.stats[1].base_stat}}</td>
      <td>SP.ATK</td>
      <td id="pokemonSPATK">{{pokemon.stats[3].base_stat}}</td>
    </tr>
    <tr>
      <td>DEF</td>
      <td id="pokemonDEF">{{pokemon.stats[2].base_stat}}</td>
      <td>SP.DEF</td>
      <td id="pokemonSPDEF">{{pokemon.stats[4].base_stat}}</td>
    </tr>
  </table>
</div>
