<div class="table-responsive container-fluid fill">
  <table id="pokemonTable" class="table table-sm table-bordered table-dark fill">
    <tr>
      <td id="pokemonImage" rowspan="2" colspan="2">Image Here</td>
      <td id="pokemonName" colspan="2">Ditto</td>
    </tr>
    <tr>
      <td id="pokemonType" colspan="2">Normal / Normal</td>
    </tr>
    <tr>
      <td>HP</td>
      <td id="pokemonHP">45</td>
      <td>SPE</td>
      <td id="pokemonSPE">49</td>
    </tr>
    <tr>
      <td>ATK</td>
      <td id="pokemonATK">43</td>
      <td>SP.ATK</td>
      <td id="pokemonSPATK">23</td>
    </tr>
    <tr>
      <td>DEF</td>
      <td id="pokemonDEF">54</td>
      <td>SP.DEF</td>
      <td id="pokemonSPDEF">44</td>
    </tr>
  </table>
</div>
